* {
	font-family: 'Alfa Slab One', cursive;
}

h1 {
	color: red;
	font-size: 40px;
	text-align: center;
	margin: 0px;
	text-shadow: currentColor;
	padding: 0px;
}

div {
	display: flex;
	justify-content: center;
}

img {
	width: 200px;
	margin: 50px;
}

h2	{
	text-align: center;
	font-size: 60px;
	margin: 0px;
}